<div><a href="https://bitbucket.org/xvazquezc/otureporter/" alt="OTUreporter"><img src="images/logo.png" width="700px" align="center" style="float; padding: 20px; max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a></div>
