<div class="tocify-extend-page" data-unique="tocify-extend-page" style="height: 0;"></div>
&nbsp;
<br><br>
<hr />

<div style="text-align: center; margin: auto;">
  <a href="https://bitbucket.org/xvazquezc/otureporter/" alt="OTUreporter">
    <img src="images/logo.png" width="200px" style="float; padding: 20px; height: auto;"></a> was created in collaboration with <a href="https://www.ramaciotti.unsw.edu.au/"><img src="images/ramac_logo.png" width="200px" style="float; padding: 20px; height: auto;"></a>
  <!-- <p style="text-align: center;">A work by <a href="https://github.com/$github$">Xabier V&aacute;zquez-Campos</a> in collaboration with -->
  <!-- </p> -->
</div>
<br><br>
<!-- <p style="text-align: center;"><span style="color: #808080;"><em>$mail$</em></span></p> -->
<!-- Add icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- Add font awesome icons -->
<!-- <p style="text-align: center;">
	<a href="https://twitter.com/XabiVC" class="fa fa-twitter"></a>
	<a href="https://www.linkedin.com/in/$linkedin$" class="fa fa-linkedin"></a>
	<a href="https://github.com/$github$" class="fa fa-github"></a>
  <a href="https://$home$" class="fa fa-bitbucket"></a>
</p> -->
